.Button__button {
    display: block;
    background-color: royalblue;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
    margin: 5px 5px;
    font-family: 'Baloo Bhai', cursive;

}