.wrapper {
    position: relative;
    // background-color: white;
    box-shadow: 0 20px 40px -10px;
    width: 70vw;
    max-width: 800px;
    height: 60vh;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    .wrapper__radio {
        display: inline-flex;
    }

    button {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0)
    }

}