.wrapper {
    text-align: center;
    position: fixed;
    top: 2%;
    left: 5%;
    z-index: 2;
    animation: renderAnimation .5s linear;

    li {
        display: inline-block;
        margin-right: 5vw;
        list-style: none;


        a {
            text-decoration: none;
            color: white;
            display: inline-block;
        }
    }
}

@keyframes renderAnimation {
    0% {
        opacity: 0;
        transform: translate(100px, 0)
    }

    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}