.wrapper {
    text-align: center;
    position: fixed;
    top: 2%;
    left: 5%;
    z-index: 2;


    li {
        display: inline-block;
        margin-right: 5vw;
        list-style: none;


        a {
            text-decoration: none;
            color: white;
            display: inline-block;
            font-size: 1.2rem;
        }

        .activeLink {
            animation: renderAnimation .5s linear forwards;
        }
    }
}

button {
    position: fixed;
    right: 5%;
    z-index: 2;
}


@keyframes renderAnimation {
    0% {
        opacity: 0;
        border-bottom: none;

    }

    100% {
        opacity: 1;
        color: yellowgreen
    }
}