.wrapper {
    position: fixed;
    z-index: 2;
    box-shadow: 0 20px 40px -10px;
    background-color: rgba(255, 255, 255, .9);
    width: 70vw;
    max-width: 800px;
    height: 60vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: render .3s linear;


    form {
        width: 100%;
    }


    button {
        position: absolute;
        right: 0%;
    }

}


@keyframes render {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}